* {
    margin: 0;
    padding: 0;
    &:is(&::after, &::before, *) {
        box-sizing: border-box;
    }
    // outline: 1px solid red;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
}

.Content {
    flex-grow: 1;
    flex-direction: column;
    padding: 0 40px;
}