@use '../partials/variables' as *;

.CryptoListIcon {
    width: 35px;
    height: auto;
}

.CryptocurrenciesTable {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    .TableContainer {
        display: grid;
        gap: 25px;
    }
    .CryptocurrenciesRow {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
        &:not(:last-child) {
            border-bottom: 1px solid white;
            padding-bottom: 5px;
        }
    }
    .TableHeadings {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}

.CryptoListSnapshot {
    display: flex;
    align-items: center;
    gap: 10px;
}

.CryptoListNameAndSymbol {
    display: flex;
    flex-direction: column;
    span {
        &:nth-child(2) {
            font-weight: 200;
        }
    }
}