@use '../partials/variables' as *;

.Dashboard {
    flex-grow: 1;
    flex-direction: column;
    gap: 35px;
    > * {
        display: flex;
    }
    .DashboardHeading {
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding: 15px 0;
        font-size: 28px;
        h2 {
            font-size: clamp(1.125rem, 0.328rem + 2.5505vw, 2.625rem);
        }
        .IconTray {
            display: flex;
            align-items: center;
            gap: 10px;
            .CurrentStatus {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
                height: fit-content;
                background-color: rgb(6 7 8 / 75%);
                border-radius: 12px;
                border: 1px solid rgba(255, 255, 255, 0.125);
                padding: 5px 15px;
                p {
                    font-size: 15px;
                    text-transform: uppercase;
                 }
                .CurrentStatusLight {
                    display: flex;
                    .AnimatedPulseFront {
                        width: 15px;
                        height: 15px;
                        background-color: #0fa065;
                        border-radius: 50%;
                        filter: blur(5px);
                    }
                    .AnimatedPulseBack {
                        height: 15px;
                        width: 15px;
                        position: absolute;
                        border-radius: 50%;
                        animation: pulse-animation 1.5s infinite;
                    }
                }
            }
            .Notifications {
                display: flex;
                border-radius: 50px;
                cursor: pointer;
                path {
                    width: 4px;
                }
            }
        }
    }
}

.CryptoSnapshots {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(145px,1fr));
    gap: 20px;
    .CryptoSnapshot {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex: 1 1 0px;
        gap: 10px;
        background-color: rgb(6 7 8 / 75%);
        border-radius: 12px;
        border: 1px solid rgba(255, 255, 255, 0.125);
        padding: 10px;
        h3 {
            font-weight: 200;
            font-size: 18px;
        }
        p {
            font-weight: 300;
            font-size: 28px;
        }
    }
}

/****** KEYFRAMES ******/

@keyframes pulse-animation {
    0% {
        box-shadow: 0 0 #033923;
    }
    50% {
        box-shadow: 0 0 0 7px #033923;
        filter: blur(7px);
    }
    100% {
        box-shadow: 0 0 #033923;
    }
}
