.Nav {
    flex-direction: column;
    padding: 5px;
    gap: 20px;
    height: 100vh;
    border-right: 1px solid #d9d9d9;
    > * {
        display: flex;
    }
    .LogoContainer {
        img {
            width: 25%;
            height: auto;
        }
    }
    .NavList {
        flex-direction: column;
        gap: 20px;
        font-weight: 200;
        .NavListItem {
            a {
                display: flex;
                align-items: center;
                gap: 10px;
                text-decoration: none;
                text-transform: uppercase;
                letter-spacing: 0.1rem;
                cursor: pointer;
            }
        }
    }
}