.Nav {
    flex-direction: column;
    padding: 5px;
    gap: 20px;
    height: 100vh;
    border-right: 1px solid #d9d9d9;
    > * {
        display: flex;
    }
    .LogoContainer {
        flex-direction: column-reverse;
        align-items: center;
        gap: 20px;
        .MainHeading {
            text-transform: uppercase;
            letter-spacing: 0.5rem;
        }
        img {
            width: 25%;
            height: auto;
        }
    }
    .NavList {
        flex-direction: column;
        gap: 40px;
        font-weight: 200;
        .NavListItem {
            a {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;
                text-decoration: none;
                text-transform: uppercase;
                letter-spacing: 0.1rem;
                cursor: pointer;
            }
        }
    }
}