@use '../partials/variables' as *;

.News {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 50px;
    .CryptoNewsCard {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 20px;
        padding: 15px;
        background-color: rgb(6 7 8 / 75%);
        border-radius: 12px;
        border: 1px solid rgba(255, 255, 255, 0.125);
        text-decoration: none;
        transition: 0.3s all ease;
        &:hover {
            transition: 0.3s all ease;
            background-color: rgb(12, 14, 15);
        }
        .CryptoNewsImg {
            width: 50%;
            height: auto;
        }
        p {
            &:first-child {
                color: red;
            }
        }
    }
}

.DashboardHeading {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
    font-size: 28px;
    .IconTray {
        display: flex;
        align-items: center;
        gap: 10px;
        .CurrentStatus {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            height: fit-content;
            background-color: rgb(6 7 8 / 75%);
            border-radius: 12px;
            border: 1px solid rgba(255, 255, 255, 0.125);
            padding: 5px 15px;
            p {
                font-size: 15px;
                text-transform: uppercase;
             }
            .CurrentStatusLight {
                display: flex;
                .AnimatedPulseFront {
                    width: 15px;
                    height: 15px;
                    background-color: #0fa065;
                    border-radius: 50%;
                    filter: blur(5px);
                }
                .AnimatedPulseBack {
                    height: 15px;
                    width: 15px;
                    position: absolute;
                    border-radius: 50%;
                    animation: pulse-animation 1.5s infinite;
                }
            }
        }
        .Notifications {
            display: flex;
            border-radius: 50px;
            cursor: pointer;
            path {
                width: 4px;
            }
        }
    }
}

.NewsPanel {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 35px;
}

.NewsHeading h2 {
    font-size: 42px;
}

.NewsProviderDetails {
    display: flex;
    align-items: center;
    gap: 20px;
}

.NewsProviderLogo {
    width: 40px;
    img {
        height: auto;
        width: 100%;
    }
}

.NewsProviderName {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
}

.NewsDatePublished {
    font-size: 12px;
    font-weight: 300;
    text-align: right;
}