.TopCryptosListContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    gap: 20px;
    .TopCryptosCard {
        display: grid;
        gap: 10px;
        padding: 25px;
        background-color: #260426ba;
        div {
            display: flex;
            justify-content: space-between;
        }
        .CryptoInfo {
            align-items: center;
            .CryptoNameAndRank {
                display: flex;
                gap: 20px;
                font-size: 18px;
            }
            .CryptoIcon {
                display: flex;
                img {
                    height: 35px;
                    width: auto;
                }
            }
        }
    }
}
