@use '../partials/variables' as *;

.TopCryptosListContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    gap: 20px;
    .TopCryptosCard {
        display: grid;
        gap: 10px;
        padding: 25px;
        background-color: rgb(6 7 8 / 75%);
        border-radius: 12px;
        border: 1px solid rgba(255, 255, 255, 0.125);
        transition: 0.3s all ease;
        &:hover {
            transition: 0.3s all ease;
            background-color: rgb(12, 14, 15);
        }
        div {
            display: flex;
            justify-content: space-between;
        }
        .CryptoInfo {
            align-items: center;
            padding-bottom: 15px;
            .CryptoNameAndRank {
                display: flex;
                gap: 15px;
                font-size: 18px;
            }
            .CryptoIcon {
                display: flex;
                img {
                    height: 35px;
                    width: auto;
                }
            }
        }
    }
}

.TopCryptosHeading {
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    h2 {
        font-size: clamp(1.125rem, 0.328rem + 2.5505vw, 2.625rem);
    }
}

.SearchCryptosInput {
    outline: none;
    border: none;
    background-color: rgb(6 7 8 / 75%);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 10px 15px;
    color: white;
    caret-color: white;
    cursor: pointer;
    &::placeholder {
        color: white;
        opacity: 0.5;
    }
}