@media only screen and (width <= 43.75rem) {
  body {
    flex-direction: column;
  }
  .Nav {
    height: 100%;
    padding: 0 2.5rem;
    .NavList {
      flex-direction: row;
      width: auto;
      .NavListItem > a > p {
        display: none;
      }
    }
  }
  .CryptoSnapshots .CryptoSnapshot {
    p {
      font-size: 1.125rem;
    }
  }
}
