@use "../partials/variables" as *;

.Dashboard {
  flex-grow: 1;
  flex-direction: column;
  gap: 2.1875rem;
  > * {
    display: flex;
  }
  .DashboardHeading {
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.9375rem 0;
    font-size: 1.75rem;
    h2 {
      font-size: clamp(1.125rem, 0.328rem + 2.5505vw, 2.625rem);
    }
    .IconTray {
      display: flex;
      align-items: center;
      gap: 0.625rem;
      .CurrentStatus {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.625rem;
        height: fit-content;
        background-color: rgb(6 7 8 / 75%);
        border-radius: 0.75rem;
        border: 0.0625rem solid rgba(255, 255, 255, 0.125);
        padding: 0.3125rem 0.9375rem;
        p {
          font-size: 0.9375rem;
          text-transform: uppercase;
        }
        .CurrentStatusLight {
          display: flex;
          .AnimatedPulseFront {
            width: 0.9375rem;
            height: 0.9375rem;
            background-color: #0fa065;
            border-radius: 50%;
            filter: blur(0.3125rem);
          }
          .AnimatedPulseBack {
            height: 0.9375rem;
            width: 0.9375rem;
            position: absolute;
            border-radius: 50%;
            animation: pulse-animation 1.5s infinite;
          }
        }
      }
      .Notifications {
        display: flex;
        border-radius: 3.125rem;
        cursor: pointer;
        path {
          width: 0.25rem;
        }
      }
    }
  }
}

.CryptoSnapshots {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(9.0625rem, 1fr));
  gap: 1.25rem;
  .CryptoSnapshot {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 1 1 0rem;
    gap: 0.625rem;
    background-color: rgb(6 7 8 / 75%);
    border-radius: 0.75rem;
    border: 0.0625rem solid rgba(255, 255, 255, 0.125);
    padding: 0.625rem;
    h3 {
      font-weight: 200;
      font-size: 1.125rem;
    }
    p {
      font-weight: 300;
      font-size: 1.75rem;
    }
  }
}

/****** KEYFRAMES ******/

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 #033923;
  }
  50% {
    box-shadow: 0 0 0 0.4375rem #033923;
    filter: blur(0.4375rem);
  }
  100% {
    box-shadow: 0 0 #033923;
  }
}
